<div class="container mt-5">
  <h2>Listed Stocks</h2>
  <table class="table mt-5">
    <thead>
    <tr>
      <th >#</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Change</th>
      <th>%</th>
      <th>Last Close</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stocks">

      <td class="icon cell-container">
          <img [src]="stock.iconUrl" alt="icon">
      </td>
      <td class="cell-container">

        {{stock.ticker}}</td>
      <td class="cell-container" >{{setDecimalsToTwo(stock.stockPriceDetails.lastStockPrice)}}$</td>
      <td class="cell-container" [ngClass]="{'green': stock.stockPriceDetails.priceChange >= 0.00, 'red': stock.stockPriceDetails.priceChange < 0.00}">
        {{setPriceChange(stock.stockPriceDetails.priceChange)}}
      </td>
      <td class="cell-container image-cell">
        <div [ngClass]="{'green': stock.stockPriceDetails.priceChange >= 0.00, 'red': stock.stockPriceDetails.priceChange < 0.00}">
           <span>
             <fa-icon *ngIf="stock.stockPriceDetails.priceChange >= 0.00" [icon]="arrowUp" class="fa-solid fa-arrow-up" ></fa-icon>
           </span>
          <span>
          </span>
            <fa-icon *ngIf="stock.stockPriceDetails.priceChange < 0.00" [icon]="arrowDown" class="fa-solid fa-arrow-down" ></fa-icon>
          ({{setPriceChange(stock.stockPriceDetails.priceChangeInPercent)}}%)
          <span class="text">
          </span>
        </div>
      </td>
      <td class="cell-container">{{stock.stockPriceDetails.previousClosePrice}}</td>
      <td class="cell-container">
        <button type="button" class="btn btn-dark" (click)="sendData(stock.id)">Details</button>
      </td>

    </tr>
    </tbody>
  </table>
</div>
