.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell-container, th {
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

table {
  max-width: 70%;
}

thead {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

tbody {
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

td {
  width: 20%;
}

img {
  object-fit: contain;
  max-width: 40%;
}

.green {
  color: green;
}

.red {
  color: red;
}

td span {

}

.arrow {
  width: 15%;
}

.image-wrapper {
  display: table-cell;

}

.image-wrapper .text {
  display: inline-block;
  margin-left: 10px;
}
