<div class="container mt-5">
  <div *ngIf="!!stock" class="card" style="width: 18rem;">
    <div class="img-container">
      <img [src]="stock.logoUrl" class="card-img-top" [alt]="stock.ticker">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{stock.ticker}}</h5>
      <h6 *ngIf="!!stockPrice">Price: ${{stockPrice.lastStockPrice}}</h6>
      <h6 *ngIf="!stockPrice">Price: ${{stock.stockPriceDetails.lastStockPrice}}</h6>
      <button class="btn btn-outline-dark" (click)="toggleDescVisibility()">Read company description</button>
        <div *ngIf="isCompanyDescVisible" class="card-text">
          {{stock.description}}
        </div>
    </div>
  </div>
</div>
