<div class="container mt-3 mb-3 min-vh-100">
  <div class="greeting">
    <h3>Hey, {{userProFileDetails.firstName}}</h3>
  </div>
    <div class="profile-container">
      <div class="menu-bar">
        <div class="menu-item" (click)="chooseDefault()">Personal Info</div>
        <div class="menu-item" (click)="chooseBalance()">Balance</div>
        <div class="menu-item" (click)="chooseWatchList()">WatchList</div>
        <div class="menu-item" (click)="choosePortfolio()">Portfolio</div>
      </div>
      <div class="card-body p-3" [ngSwitch]="chosenSection">
        <div class="profile-section " *ngSwitchDefault>
          <div>
            <h5>Email</h5>
            <div>{{userProFileDetails.email}}</div>
          </div>
          <div>
            <h5>First Name</h5>
            <div>{{userProFileDetails.firstName}}</div>
          </div>
          <div>
            <h5>Last Name</h5>
            <div>{{userProFileDetails.lastName}}</div>
          </div>
        </div>
        <div class="profile-section" *ngSwitchCase="'balance'">
          <div>
            <h5>Invested balance:</h5>
            <div>{{userProFileDetails.balance}}</div>
          </div>
          <div>
            <h5>Profit / Loss</h5>
            <div>{{1000 - userProFileDetails.balance}}</div>
          </div>
        </div>
      </div>
    </div>
</div>
